/* overwrite default style sheet */


/* center website */
body {
	margin:0;
	padding:0;
	text-align: center;
	background-color:4b1577;
}

#wrap {
	text-align: left;
	width: 900px;
	margin: 0 auto;
}

#headerPicture {
	position:absolute;
}

#PictureCaption {
	color:white;
	position:absolute;
	top:450px;
	left:20px;
	width:800;
	text-shadow: black 0.1em 0.1em 0.2em
}


