* {
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}

/* center website */
body {
	margin:0;
	padding:0;
	text-align: center;
	background-color:#d8d2f8;
}

#wrap {
	text-align: left;
	width: 900px;
	margin: 0 auto;
}

#menu {
	padding: 10px;
	background:#4b1577;
	border-bottom:40px solid #000;	
}

#menu ul{
}


#menu ul li {
	list-style:none;
	float:left;
}

#menu ul li a{
	margin: 10px;
	padding: 10px 26px;
	background:#8365bb;
	color:#000;
	font-size:150%;
	border-radius:5px;

	transition: all 0.5s ease;

	-moz-user-select: none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
}

#headerPicture {
	position:relative;
}


#menu ul li a:hover{
	background-color: #FFF;
	box-shadow: 1px 1px 5px #FFF;
	
}

#menu ul li a:active{
	background-color: #FFF;
	box-shadow: 1px 1px 5px #FFF;
	
}
/*Place Picture Caption*/
#PictureCaption {
	padding: 0 60px;
	text-align: left;
	color:white;
	position:absolute;
	top:480px;
	width: 900;
	text-shadow: black 0.2em 0.05em 0.2em;
	line-height: 20px;
}

#PictureCaption p {
       	font-size:300%
}
